body {
    background-color: #3d605f;
}

canvas {
    border: 2px solid #000000;
    margin: 10px;
}

h1, h2, h3, h4 {
    text-align: center;
}

h2, h3, h4 {
    margin: 5px;
}

.allButtons {
    background-color: #a1c3c2;
    margin: 10px;
    padding: 5px;
    width: fit-content;
    border: 5px solid #000000;
}

.buttonsGroup {
    background-color: #3d605f;
    border: 3px solid #000000;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: auto;
}

.shapesGroup {
    background-color: #82afad;
    border: 2px solid #000000;
    margin: 5px;
    padding: 5px;
    width: auto;
}

#defaultShapes {
    margin-left: 30px;
}